*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
}

.header {
  background: linear-gradient(155deg, #06b6d4 35%, #FFF 35%);
  padding: 25px 0 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
}

.float {
  display: none;
}

.name {
  color: #FFF;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 3.25rem;
  text-shadow: 2px 3px 2px rgba(0,0,0, 0.5);
}

.about-me {
  margin-top: 3rem;
}

.about-me h2,
.icons {
  text-align: center;
}

.about-me h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 1.3125rem;
  margin-bottom: 1rem;
  color: #0000009c;
}

.icons a {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  margin-right: .5rem;
}

@media (min-width: 460px) {
  .name {
    font-size: 5rem;
  }

  .about-me h2 {
    font-size: 3.25rem;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .header {
    background: linear-gradient(170deg, #06b6d4 55%, #FFF 45%);
    padding: 100px 0 100px 175px;
  }

  .portrait {
    display: none;
  }

  .float {
    display: block;
    transform-origin: bottom right;
    transform: scale(1.75);
  }

  .img-container {
    float: left;
    margin-right: 1rem;
    max-width: 250px;
  }
  
  .name {
    font-size: 3.25rem;
    top: -7.5%;
    left: 45%;
    width: 105%;
  }

  .about-me {
    background: #FFF;
    box-shadow: 0 0 10px #00000080;
    padding: 40px 25px;
  }

  .about-me h2 {
    font-size: 2.25rem;
  }

  .icons {
    display: none;
  }
}

@media (min-width: 1001px) {
  .header {
    background: linear-gradient(170deg, #06b6d4 55%, #FFF 45%);
    padding: 50px 0 100px;
  }

  .container {
    display: flex;
  }

  .img-container {
    max-width: 525px;
  }

  .name {
    top: 15.5rem;
    font-size: 4.5rem;
  }

  .about-me {
    background: #FFF;
    box-shadow: 0 0 10px #00000080;
    padding: 2rem 1rem 1rem;
    margin: 0;
    align-self: center;
  }

  .about-me h2 {
    font-size: 1.75rem;
    text-align: left;
  }

  .about-me p {
    font-size: 1rem;
  }

  .icons {
    text-align: right;
  }

  .icons a {
    font-size: 1.5rem;
  }
}