*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 2.25rem;
}

.header {
  background: linear-gradient(155deg, #06b6d4 35%, #FFF 35%);
  padding: 25px 0 100px;
}

.container, 
.projects-container, 
.contact-me {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
}

.float {
  display: none;
}

.name {
  color: #FFF;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 3.25rem;
  text-shadow: 2px 3px 2px rgba(0,0,0, 0.5);
}

.about-me {
  margin-top: 3rem;
}

h2,
.icons,
.footer-icons {
  text-align: center;
}

.about-me h2 {
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 1.3125rem;
  margin-bottom: 1rem;
  color: #0000009c;
}

.icons a {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  margin-right: .5rem;
}

.main {
  padding-bottom: 100px;
}

.projects-container > h2 {
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 0 10px #00000080;
  margin-bottom: 4rem;
}

.inner-div-one {
  padding: 50px 25px 75px;
}

.one {
  background: mediumpurple;
}

.two {
  background: peru;
}

.three,
.six {
  background: darkolivegreen;
}

.four {
  background: palevioletred;
}

.five {
  background: dodgerblue;
}

.inner-div-one > h2 {
  color: #FFF;
}

.inner-div-two {
  padding: 15px 25px 75px;
}

.project-name {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-left: 1rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
  font-size: 1.3125rem;
}

.project-icons > a {
  margin-left: .75rem;
  font-size: 1.3125rem;
  text-decoration: none;
  color: #000;
}

.inner-div-two > p {
  margin-top: 1rem;
  color: #0000009c;
}

.footer {
  background: #06b6d4;
  padding-top: 1rem;
}

.contact-me {
  color: #FFF;
}

.contact-me p:nth-of-type(1) {
  font-size: 1.3125rem;
  margin: .5rem 0 1.75rem;
}

.contact-me p:nth-of-type(2) {
  margin-bottom: 1.75rem;
}

.contact-me p:nth-of-type(3) {
  margin-bottom: .5rem;
}

.contact-me p:nth-of-type(3) > i,
.contact-me p:nth-of-type(4) > i {
  display: none;
}

.footer-icons {
  margin: 1.5rem 0 4rem;
}

.footer-icons a {
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
  margin-right: 1rem;
}

.footer img {
  width: 100%;
  display: block;
}

@media (min-width: 460px) {
  .name {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.25rem;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .header {
    background: linear-gradient(170deg, #06b6d4 55%, #FFF 45%);
    padding: 100px 0 100px 175px;
  }

  .portrait {
    display: none;
  }

  .float {
    display: block;
    transform-origin: bottom right;
    transform: scale(1.75);
  }

  .img-container {
    float: left;
    margin-right: 1rem;
    max-width: 250px;
  }
  
  .name {
    font-size: 3.25rem;
    top: -7.5%;
    left: 45%;
    width: 105%;
  }

  .about-me {
    background: #FFF;
    box-shadow: 0 0 10px #00000080;
    padding: 40px 25px;
  }

  h2 {
    font-size: 2.25rem;
  }

  .icons {
    display: none;
  }

  .main {
    padding-bottom: 200px;
  }

  .projects-container > h2 {
    text-align: left;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.75rem;
    row-gap: 4rem;
  }

  .card {
    margin-bottom: 0;
  }

  .one {
    background: darkred;
  }

  .two,
  .five {
    background: mediumpurple;
  }

  .three {
    background: palevioletred;
  }

  .four {
    background: peru;
  }

  .six {
    background: seagreen;
  }

  h3 {
    margin-left: 0;
  }
}

@media (min-width: 1001px) {
  .header {
    background: linear-gradient(170deg, #06b6d4 55%, #FFF 45%);
    padding: 50px 0 100px;
  }

  .container {
    display: flex;
  }

  .img-container {
    max-width: 525px;
  }

  .name {
    top: 15.5rem;
    font-size: 4.5rem;
  }

  .about-me {
    background: #FFF;
    box-shadow: 0 0 10px #00000080;
    padding: 2rem 1rem 1rem;
    margin: 0;
    align-self: center;
  }

  h2 {
    font-size: 1.75rem;
    text-align: left;
  }

  .about-me p {
    font-size: 1rem;
  }

  .icons {
    text-align: right;
  }

  .icons a {
    font-size: 1.5rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.75rem;
    row-gap: 4rem;
  }

  .card {
    margin-bottom: 0;
  }

  .one {
    background: darkred;
  }

  .two {
    background: mediumpurple;
  }

  .three {
    background: seagreen;
  }

  .four {
    background: palevioletred;
  }

  .five {
    background: peru;
  }

  .six {
    background: dodgerblue;
  }

  .inner-div-one > h2 {
    text-align: center;
  }

  h3 {
    margin-left: 0;
  }
}

@media (min-width: 1300px) {
  .name {
    top: 15rem;
    font-size: 5rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  .about-me p {
    font-size: 1.125rem;
  }
  
  .icons a {
    font-size: 2rem;
  }
}